.trackers-create-card {
  display: flex;
  margin-bottom: 2em;
}
.trackers-create-card-option {
  position: relative;
  width: 20em;
  padding: 1em 2em;
}
.trackers-create-card-option + .trackers-create-card-option {
  margin-left: 0.1em;
}
.card-appear
  .trackers-create-card-option
  + .trackers-create-card-option::before,
.card-exit-active
  .trackers-create-card-option
  + .trackers-create-card-option::before {
  top: 50%;
  bottom: 50%;
  transition: top 200ms, bottom 200ms;
}
.trackers-create-card-option + .trackers-create-card-option::before,
.card-appear-active
  .trackers-create-card-option
  + .trackers-create-card-option::before {
  top: 1em;
  bottom: 1em;
  transition: top 400ms 800ms, bottom 400ms 800ms;
}
.trackers-create-card-option + .trackers-create-card-option::before {
  content: '';
  position: absolute;
  left: -0.05em;
  width: 0;
  border-right: 0.05em solid #fff;
  border-left: 0.05em solid #a6b8c1;
  text-align: center;
}
.trackers-create-card-option + .trackers-create-card-option::after {
  content: 'OR';
  position: absolute;
  top: 50%;
  left: -0.8em;
  margin-top: -0.75em;
  background-color: #e3f3fb;
  font-family: 'Playfair Display', sans-serif;
}
