.create-card {
  display: flex;
  text-align: center;
}
.create-card-option {
  position: relative;
  width: 20em;
  padding: 1em 2em;
}
.create-card-option + .create-card-option {
  margin-left: 0.1em;
}
.stage-appear .create-card-option + .create-card-option::before,
.stage-enter .create-card-option + .create-card-option::before,
.stage-exit-active .create-card-option + .create-card-option::before {
  top: 50%;
  bottom: 50%;
  transition:
    top 200ms,
    bottom 200ms;
}
.create-card-option + .create-card-option::before,
.stage-appear-active .create-card-option + .create-card-option::before,
.stage-enter-active .create-card-option + .create-card-option::before {
  top: 1em;
  bottom: 1em;
  transition:
    top 400ms 800ms,
    bottom 400ms 800ms;
}
.create-card-option + .create-card-option::before {
  content: '';
  position: absolute;
  left: -0.05em;
  width: 0;
  border-right: 0.05em solid #fff;
  border-left: 0.05em solid #a6b8c1;
  text-align: center;
}
.create-card-option + .create-card-option::after {
  content: 'OR';
  position: absolute;
  top: 50%;
  left: -0.8em;
  margin-top: -0.75em;
  background-color: #e3f3fb;
  font-family: 'Playfair Display', sans-serif;
}
.create-card-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.create-card-links li {
  display: inline;
}
.create-card-links li + li::before {
  content: '\b7';
  padding: 0 1em;
  color: #859fab;
}
