.tracker-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -1em;
}
.tracker-card.preview {
  box-shadow: none;
  overflow: visible;
  margin-bottom: 2.5em;
}
.tracker-card li.preview::before {
  display: none;
}
.tracker-card.preview button {
  width: 14.5em;
  height: 100%;
  min-height: 8.175em;
  border-radius: 1em;
}
.tracker-card.preview button.add::before {
  font-size: 8em;
}
