.form-control {
  display: flex;
  margin: 0.5em -0.25em 0 0;
}
.form-control label {
  overflow: hidden;
  width: 8em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-group {
  flex: 1;
  padding: 0 0.75em;
}
.input-group input {
  margin: 0 -0.5em;
}
.stage-appear input,
.stage-enter input,
.stage-exit-active input,
.stage-enter-done .card-enter input,
.stage-enter-done .card-exit-active input {
  background-color: transparent;
  color: transparent;
  transition:
    background-color 200ms,
    color 200ms;
}
input,
.stage-appear-active input,
.stage-enter-active input,
.stage-enter-done .card-enter-active input {
  background-color: #f3fafe;
  color: #161819;
  transition:
    background-color 400ms 600ms,
    color 400ms 600ms;
}
input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0 0.5em;
  font-size: 1em;
  line-height: inherit;
}
label {
  font-weight: bold;
}
