.tracker-card-container.card-enter,
.tracker-card-container.card-exit-active.card-exit-active {
  width: 0;
  margin-left: 0;
  margin-right: 0;
  transition:
    box-shadow 200ms,
    color 200ms,
    margin 300ms,
    text-shadow 200ms,
    width 300ms;
}
.tracker-card-container,
.tracker-card-container.card-enter-active {
  margin-left: 1em;
  margin-right: 1em;
  width: 14.5em;
  transition:
    box-shadow 400ms 400ms,
    color 400ms 600ms,
    margin 400ms,
    text-shadow 400ms 600ms,
    width 400ms;
}
.tracker-card-container {
  margin-bottom: 3em;
}
.tracker-card-container article {
  flex: 1;
  position: relative;
  margin-bottom: 1em;
  z-index: 1;
}
.tracker-card-container h3 {
  width: 10em;
  margin: 0.8em;
}
.tracker-card-container ul {
  list-style-type: none;
  margin-top: 1.1em;
  margin-bottom: 0;
  padding: 0;
}
.tracker-card-container li {
  position: relative;
  width: 10.5em;
  height: 2em;
  margin: 0.1em 0;
  padding: 0 2em;
  line-height: 2;
}
.stage-appear .tracker-card-container li::before,
.stage-enter .tracker-card-container li::before,
.stage-exit-active.stage-exit-active .tracker-card-container li::before,
.stage-enter-done .tracker-card-container.card-enter li::before,
.stage-enter-done .tracker-card-container.card-exit-active li::before {
  color: transparent;
  transition: color 200ms;
}
.tracker-card-container li::before,
.stage-appear-active .tracker-card-container li::before,
.stage-enter-active .tracker-card-container li::before,
.stage-enter-done .tracker-card-container li::before {
  color: var(--color-text-button-symbolic);
}
.stage-appear-active .tracker-card-container li::before,
.stage-enter-active .tracker-card-container li::before {
  transition: color 400ms 800ms;
}
.stage-enter-done .tracker-card-container li::before {
  transition: color 400ms;
}
.tracker-card-container li::before {
  content: '::';
  position: absolute;
  left: 0;
  padding: 0 0.3em;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 0.1em;
  cursor: move;
}
.tracker-card-container li.preview::before {
  display: none;
}
.tracker-card-container li input {
  box-sizing: border-box;
}
.tracker-card-container button {
  width: 100%;
  height: 1.5em;
  padding: 0;
}
.tracker-card-container button:focus,
.tracker-card-container button:hover {
  z-index: 1;
}
.tracker-card-container li button.button-close {
  position: absolute;
  right: 0;
  width: 1.5em;
  margin: 0.25em;
}
.tracker-card-container li button.button-add {
  width: 100%;
}
.tracker-card-container button::before {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 0.85;
}
