#root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.error.error-enter,
.error.error-exit-active {
  opacity: 0;
  transform: scale(0.85);
}
.error,
.error.error-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.error {
  position: absolute;
  bottom: 3em;
  box-shadow: 0 0 0.2em #fcb7c6, 0.75em 0.75em 3em #a6b8c1;
  padding: 1em 2em;
  background-color: #fcb7c6;
  color: #644f54;
  font-weight: bold;
  z-index: 1;
}
.form-control {
  display: flex;
  margin: 0.5em -0.25em 0 0;
}
.form-control label {
  overflow: hidden;
  width: 8em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-group {
  flex: 1;
  padding: 0 0.75em;
}
.input-group input {
  margin: 0 -0.5em;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.stage-appear a,
.stage-enter a,
.stage-exit-active a {
  color: transparent;
  transition: color 200ms;
}
a,
.stage-appear-active a,
.stage-enter-active a,
.card-enter-active a {
  color: #859fab;
  text-decoration: none;
  transition: color 400ms 600ms;
}
a:hover,
a:focus {
  text-decoration: underline;
  outline: none;
}
.stage-appear article,
.stage-enter article,
.stage-exit-active.stage-exit-active article,
.card-enter article,
.card-exit-active article,
footer.stage-enter {
  box-shadow: none;
  color: transparent;
  text-shadow: none;
  transition: box-shadow 200ms, color 200ms, text-shadow 200ms;
}
article,
.stage-appear-active article,
.stage-enter-active article,
.card-enter-active article,
footer,
footer.stage-enter-active {
  box-shadow: -0.05em -0.05em #fff, -0.5em -0.5em 2em #f9fdff,
    0.05em 0.05em #a6b8c1, 0.5em 0.5em 2em #a6b8c1;
  color: inherit;
  text-shadow: -0.05em -0.05em 0.05em #fff, 0.05em 0.05em 0.05em #a6b8c1;
  transition: box-shadow 400ms 400ms, color 400ms 600ms, text-shadow 400ms 600ms;
}
article {
  overflow: hidden;
  margin-bottom: 3em;
  border-radius: 1em;
}
body,
button,
input {
  font: 20px/1.5 Nunito, sans-serif;
}
body {
  background-color: #e3f3fb;
  color: #505f66;
}
.stage-appear.stage-appear button,
.stage-enter.stage-enter button,
.stage-exit-active.stage-exit-active.stage-exit-active button,
.stage-enter-done .card-enter button,
.stage-enter-done .card-exit-active.card-exit-active button {
  box-shadow: none;
  background-color: transparent;
  color: transparent;
  transition: background-color 200ms, box-shadow 200ms, color 200ms;
}
button,
button:active:active,
.stage-appear-active.stage-appear-active button,
.stage-enter-active.stage-enter-active button,
.stage-enter-done .card-enter-active.card-enter-active button {
  background-color: #cce7f4;
  color: #314b57;
}
button.button-primary,
button.button-primary:active:active,
.stage-appear-active.stage-appear-active button.button-primary,
.stage-enter-active.stage-enter-active button.button-primary,
.stage-enter-done .card-enter-active.card-enter-active button.button-primary {
  background-color: #ecda80;
  color: #383629;
}
button,
.stage-appear-active.stage-appear-active button,
.stage-enter-active.stage-enter-active button,
.stage-enter-done .card-enter-active button {
  box-shadow: -0.05em -0.05em #fff, -0.25em -0.25em 1em #f9fdff,
    0.05em 0.05em #a6b8c1, 0.25em 0.25em 1em #a6b8c1;
  transition: background-color 400ms 800ms, box-shadow 400ms 800ms,
    color 400ms 800ms;
}
button.button-primary,
.stage-appear-active.stage-appear-active button.button-primary,
.stage-enter-active.stage-enter-active button.button-primary,
.stage-enter-done .card-enter-active button.button-primary {
  box-shadow: -0.05em -0.05em #fff, -0.25em -0.25em 1em #f9fdff,
    0.05em 0.05em #c3bfae, 0.25em 0.25em 1em #a6b8c1;
}
button.button-stub,
.stage-appear-active.stage-appear-active button.button-stub,
.stage-enter-active.stage-enter-active button.button-stub,
.stage-enter-done .card-enter-active button.button-stub {
  box-shadow: -0.05em -0.05em #fff, -0.05em -0.05em 0.2em #f9fdff,
    0.05em 0.05em #a6b8c1, 0.05em 0.05em 0.2em #a6b8c1;
}
.stage-appear-done button,
.stage-enter-done button,
.stage-enter-done .card-enter-done button {
  transition: background-color 50ms, box-shadow 50ms, color 50ms;
}
button,
button input[type='file'] {
  cursor: pointer;
}
button {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
button:focus,
button:hover {
  background-color: #d8edf8;
  color: #46616e;
  outline: none;
}
button.button-primary:focus,
button.button-primary:hover {
  background-color: #ffee9a;
  color: #605c4a;
}
button:active {
  box-shadow: -0.05em -0.05em #a6b8c1, -0.1em -0.1em 0.4em inset #f9fdff,
    0.05em 0.05em #fff, 0.1em 0.1em 0.4em inset #a6b8c1;
}
button.button-primary:active {
  box-shadow: -0.05em -0.05em #a6b8c1, -0.1em -0.1em 0.4em inset #ffee9a,
    0.05em 0.05em #fff, 0.1em 0.1em 0.4em inset #c3bfae;
}
button.button-stub:active {
  box-shadow: -0.05em -0.05em #a6b8c1, -0.02em -0.02em 0.08em inset #f9fdff,
    0.05em 0.05em #fff, 0.02em 0.02em 0.08em inset #a6b8c1;
}
button input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
button.button-add::before {
  content: '+';
}
button.button-close::before {
  content: '\d7';
}
figure,
h2,
p {
  margin: 1em 0;
}
figure {
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2em;
}
footer button + button {
  margin-left: 2em;
}
form {
  margin: 1em 0;
}
.stage-appear h2,
.stage-enter h2,
.stage-exit-active h2 {
  color: transparent;
  transition: color 300ms;
}
h2,
.stage-appear-active h2,
.stage-enter-active h2 {
  color: inherit;
  transition: color 600ms;
}
h2 {
  font: 2em 'Playfair Display', sans-serif;
  color: #617078;
}
h3 {
  margin: 0.8em 0;
  font-weight: bold;
  font-size: 1.25em;
}
.stage-appear input,
.stage-enter input,
.stage-exit-active input,
.stage-enter-done .card-enter input,
.stage-enter-done .card-exit-active input {
  background-color: transparent;
  color: transparent;
  transition: background-color 200ms, color 200ms;
}
input,
.stage-appear-active input,
.stage-enter-active input,
.stage-enter-done .card-enter-active input {
  background-color: #f3fafe;
  color: #161819;
  transition: background-color 400ms 600ms, color 400ms 600ms;
}
input {
  width: 100%;
  border: none;
  padding: 0 0.5em;
  font-size: 1em;
  line-height: inherit;
}
h3 input {
  margin: -0.8em;
  padding: 0.8em;
  font-weight: bold;
}
label {
  font-weight: bold;
}
