#root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.error.error-enter,
.error.error-exit-active {
  opacity: 0;
}
.error,
.error.error-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.error {
  position: absolute;
  bottom: 2em;
  box-shadow: 0 0 0.2em #fcb7c6, 0.75em 0.75em 3em #a6b8c1;
  padding: 1em 2em;
  background-color: #fcb7c6;
  color: #644f54;
  font-weight: bold;
}
.card-appear h2,
.card-exit-active h2 {
  color: transparent;
  transition: color 300ms;
}
h2,
.card-appear-active h2 {
  color: inherit;
  transition: color 600ms;
}
.card-appear article,
.card-exit-active article {
  box-shadow: none;
  color: transparent;
  text-shadow: none;
  transition: box-shadow 200ms, color 200ms, text-shadow 200ms;
}
article,
.card-appear-active article {
  box-shadow: -0.05em -0.05em #fff, -0.5em -0.5em 2em #f9fdff,
    0.05em 0.05em #a6b8c1, 0.5em 0.5em 2em #a6b8c1;
  color: inherit;
  text-shadow: -0.05em -0.05em 0.05em #fff, 0.05em 0.05em 0.05em #a6b8c1;
  transition: box-shadow 400ms 400ms, color 400ms 600ms, text-shadow 400ms 600ms;
}
article {
  margin-bottom: 3em;
  border-radius: 1em;
  text-align: center;
}
body,
button {
  font: 20px/1.5 Nunito, sans-serif;
}
body {
  background-color: #e3f3fb;
  color: #505f66;
}
.card-appear button,
.card-exit-active.card-exit-active button {
  box-shadow: none;
  background-color: transparent;
  color: transparent;
  transition: background-color 200ms, box-shadow 200ms, color 200ms;
}
button,
button:active:active,
.card-appear-active.card-appear-active button {
  background-color: #ecda80;
  color: #383629;
}
button,
.card-appear-active button {
  box-shadow: -0.05em -0.05em #fff, -0.25em -0.25em 1em #f9fdff,
    0.05em 0.05em #c3bfae, 0.25em 0.25em 1em #a6b8c1;
  transition: background-color 400ms 800ms, box-shadow 400ms 800ms,
    color 400ms 800ms;
}
.card-appear-done button {
  transition: background-color 50ms, box-shadow 50ms, color 50ms;
}
button,
button input[type='file'] {
  cursor: pointer;
}
button {
  position: relative;
  overflow: hidden;
  border: 0;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
button:focus,
button:hover {
  background-color: #ffee9a;
  color: #605c4a;
  outline: none;
}
button:active {
  box-shadow: -0.05em -0.05em #a6b8c1, -0.1em -0.1em 0.4em inset #ffee9a,
    0.05em 0.05em #fff, 0.1em 0.1em 0.4em inset #c3bfae;
}
button input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
figure,
h2,
h3,
p {
  margin: 1em 0;
}
figure {
  text-align: center;
}
h2 {
  font: 2em 'Playfair Display', sans-serif;
}
h3 {
  font-weight: bold;
  font-size: 1em;
}
