aside.overlay-enter,
aside.overlay-exit-active {
  background-color: transparent;
  color: transparent;
}
aside,
aside.overlay-enter-active {
  background-color: rgba(243, 250, 254, 0.5);
  color: inherit;
}
aside {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  padding: 2em 20%;
  transition:
    background-color 300ms,
    color 300ms;
}
aside.overlay-enter a,
aside.overlay-enter-active,
a aside.overlay-enter h2,
aside.overlay-enter-active h2 {
  transition: color 300ms;
}
aside button {
  display: block;
  float: right;
  margin-bottom: 2em;
}
aside.overlay-enter.overlay-enter button,
aside.overlay-enter-active.overlay-enter-active button,
aside.overlay-exit-active.overlay-exit-active button {
  transition:
    background-color 3000ms,
    box-shadow 3000ms,
    color 3000ms;
}
